@import "@/data/styles.css";

.certificate {
	margin-bottom: 10px;
}

.certificates {
	display: flex;
	padding-bottom: 20px;
	width: 100%;
}

.certificate-item {
	display: flex;
	align-items: center;
	height: 38px;
	width: 100%;
}

.certificate-image {
	height: 30px;
	width: 30px;
	border-radius: 0%;
}

.certificate-title {
	font-size: 15px;
	font-weight: 700;
	padding-left: 20px;
	margin: 0;
	color: var(--secondary-color);
}
