@import "@/data/styles.css";

.skills-body {
	margin-bottom: 10px;
}

.skills {
	display: flex;
	padding-bottom: 40px;
	width: 100%;
}

.skill-image {
	height: 30px;
	width: 30px;
	border-radius: 0%;
}

.skill-title {
	font-size: 15px;
	font-weight: 700;
	padding-left: 20px;
	margin: 0;
	color: var(--secondary-color);
}

.skill-subtitle {
	position: absolute;
	font-size: 12px;
	color: var(--secondary-color);
	top: 22px;
	left: 50px;
}

.skill-level {
	font-size: 12px;
	margin: 0;
	text-align: right;
	color: var(--tertiary-color);
}

.skill-item {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	height: 38px;
	width: 100%;
}

.skill-left {
	display: flex;
	width: 100%;
	height: 38px;
	align-items: flex-start;
}

.skill-right {
	display: flex;
	height: 38px;
	min-width: 80px;
	align-items: flex-start;
	justify-content: flex-end;
}