.contact-logo-container {
	display: flex;
	justify-content: left;
	padding-top: 25px;
}

.contact-logo {
	display: flex;
	position: fixed;
	border: 1px solid white;
	border-radius: 50%;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	top: 4vh;
}

[data-theme="dark"] .contact-container a {
	color: #4da6ff;
}

.contact-subtitle {
	padding-top: 10px;
	color: #898990;
	font-size: 16px;
	line-height: 28px;
	width: 70%;
	margin-top: 25px;
	width: 100% !important;
}

.contact-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-top: 120px;
}


.socials-container {
	display: flex;
	flex-direction: column;
	margin-top: 80px;
}

.contact-left-side {
	display: flex;
	flex-direction: column;
	flex-basis: 300px;
}

.contact-socials {
	padding-top: 50px;
	padding-bottom: 50px;
	display: block !important;
}