:root {
	/* ------- colors ------- */
	--content-bg: #ffffff;
	--side-bg: hsl(240, 1%, 96%);
	--primary-color: #27272a;
	--secondary-color: #65656d;
	--tertiary-color: #acacb4;
	--quaternary-color: #e4e4e7;
	--quinary-color: hsl(240, 1%, 97%);
	--link-color: #14b8a6;
	--shadow-color: rgba(0, 0, 0, 0.25);
	--blur-bg: rgba(100, 100, 100, 0.1);
	/* ---------------------- */
	
	/* ------- fonts ------- */
	--primary-font: "Heebo", sans-serif;
	--secondary-font: "Roboto", sans-serif;
	/* --------------------- */
	
	/* Vendor prefixes for colors */
	-webkit-content-bg: #ffffff;
	-moz-content-bg: #ffffff;
	-ms-content-bg: #ffffff;
	-o-content-bg: #ffffff;
}

[data-theme="dark"] {
	/* ------- colors ------- */
	--content-bg: #0d0d0d;
	--side-bg: #121212;
	--primary-color: #dfdfe2;
	--secondary-color: #65656d;
	--tertiary-color: #f0f8ff;
	--quaternary-color: #1b1b18;
	--quinary-color: hsl(0, 0%, 6%);
	--link-color: #17CFB9;
	--shadow-color: rgba(255, 255, 255, 0.1);
	--blur-bg: rgba(100, 0, 0, 0.1);
	/* ---------------------- */
		
	/* ------- fonts ------- */
	--primary-font: "Heebo", sans-serif;
	--secondary-font: "Roboto", sans-serif;
	/* --------------------- */
		/* Vendor prefixes for colors */
	--blur-bg: rgba(100, 0, 0, 0.1);
	/* ---------------------- */
	
	/* ------- fonts ------- */
	--primary-font: "Heebo", sans-serif;
	--secondary-font: "Roboto", sans-serif;
	/* --------------------- */

	/* Vendor prefixes for colors */
	-webkit-content-bg: #0d0d0d;
	-moz-content-bg: #0d0d0d;
	-ms-content-bg: #0d0d0d;
	-o-content-bg: #0d0d0d;
}